---
title: Servers
---
#profile_icon
  a[href="/"]
    img[src="https://cyberarm.dev/media/avatar.svg"]
h1.center
  | Servers
.card_container.m1
  .card
    img[src="/media/images/apb/logo_small.webp"]
    p.title
      | APB 3.6 Co-op
    p.caption
      | Red Alert: A Path Beyond Co-op and Versus server.
  .card
    img[src="/media/images/woa/logo_small.webp"]
    p.title
      | BFD 1.0.0.6 Infantry Release
    p.caption
      | Battle for Dune: War of Assassins server.
  .card
    img[src="/media/images/tsr/logo_small.webp"]
    p.title
      | TSR 2.0
    p.caption
      | Tiberian Sun: Reborn Co-op and Versus server.

== render "/server_rules.slim"
