@font-face {
  font-family: "Noto Sans Bold";
  src: url("/game_night_generator/media/fonts/NotoSans-Bold.ttf") format("truetype")
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  background: #252525;
  color: white;
  font-family: "Noto Sans Bold", "Open Sans", -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
  text-transform: uppercase
}

img {
  width: 100%
}

.uppercase {
  text-transform: uppercase
}

.section-spacer {
  margin-top: 5em !important
}

.m1 {
  margin-top: 1em !important
}

.m-bottom-1 {
  margin-bottom: 1em !important
}

.m3 {
  margin-top: 3em !important
}

.m-bottom-3 {
  margin-bottom: 3em !important
}

.m-left-1 {
  margin-left: 1em !important
}

.m-right-1 {
  margin-right: 1em !important
}

.m-top-neighbor {
  padding-top: 8px
}

.p1 {
  padding-top: 1em !important
}

.p3 {
  padding-top: 3em !important
}

.center {
  text-align: center
}

.flex-grow {
  flex-grow: 1
}

.flex-column {
  display: flex;
  flex-direction: column
}

.flex-row {
  display: flex;
  flex-direction: row
}

.flex-center {
  justify-content: center;
  align-items: center
}

.flex-space-around {
  justify-content: space-around
}

.flex-fill-width {
  flex: 1 1 0px;
  max-width: 300px
}

.flex-bottom {
  margin-top: auto
}

.container {
  width: 100%;
  max-width: 1280px;
  height: 516px;
  margin: 0 auto
}

.height-full {
  height: 100%
}

.width-50 {
  width: 50%
}

.box-shadowify {
  box-shadow: 0 0 12px #111
}

.save-button {
  width: 100%;
  padding: 8px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  background: darkgreen;
  border-radius: 5pt
}

.save-button:hover,
.save-button:focus,
.save-button:active {
  background: #009700
}

#image_preview {
  padding: 16px;
  background: #444;
  width: 100%;
  height: 516px
}

#menu {
  max-width: 400px;
  width: 100%;
  height: 516px;
  background: #151515;
  border-left: solid 2px #252525;
  padding: 16px
}

@media screen and (max-width: 768px) {
  .flex-mobile-column {
    display: flex;
    flex-direction: column !important
  }

  #menu {
    max-width: 100%
  }

  #image_preview {
    height: auto
  }
}
